@media screen and (min-width: 768px) and (max-width: 980px) {
   
   /* header area start */
    .text {
        width: 100%;
        margin-bottom: 100px;
    }
    .image {
        width: 100%;
    }
    .flexible {
        display: block;
        text-align: center;
    }
    .image img {
        width: 556px;
        height: 438px;
    }
    

    /* main area start */
    .all-player {
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    
    /* header start */
    .text {
        width: 100%;
        margin-bottom: 100px;
    }
    .image {
        width: 300px;
        height: 370px;
    }
    .image img {
        width: 100%;
    }
    .flexible {
        display: block;
        text-align: center;
    }

    /* main area start */
    .all-player {
        margin: 50px 0;
        display: grid;
        grid-template-columns: 1fr;
    }
}