body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Common style or utilities */

.container {
    width: 90%;
    max-width: 1080px;
    margin: auto;
}
.button a {
    color: #FFF;
    text-decoration: none;
    background: #E02C6D;
    padding: 18px 38px;
}
.button a .fa-arrow-right {
    margin-left: 15px;
}
h2 {
    color: #18191F;
    font-size: 28px;
}
p {
    color: #6C6C6C;
    font-size: 18px;
}

/* header start */

.header {
    background: #2D25A0;
    padding: 60px 0 80px;
}
.text {
    width: 490px;
}
.flexible {
    display: flex;
    justify-content: space-between;
}
.heading {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
}
.image {
    width: 656px;
    height: 580px;
    overflow: hidden;

}
.image img {
    width: 556px;
    height: 438px;
}
.image img:hover {
    transform: scale(1.07);
    transition: transform 2s ease-in-out;
}
/* header end */

/* main area start  */

.all-player {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player {
    padding: 15px;
    margin: 10px;
    box-shadow: 7px 7px 15px #EEEEEE, -7px -7px 15px #EEEEEE;
}
.player-image {
    width: 312px;
    height: 270px;
    overflow: hidden;
}
.player img {
    width: 100%;
    height: auto;
}
.player img:hover {
    transform: scale(1.09);
    transition: transform 2s ease-in-out;
}

/* main area end  */

/* hightlight area start */

.hightlight {
    padding: 80px 0;
}
.hightlight h2 {
    color: #18191F;
    font-size: 1.3em;
    font-weight: 700;
}
.hightlight .text-area {
    margin-bottom: 70px;
    margin-right: 60px;
}

/* hightlight area end */

/* footer area start */
    .footer-area {
        text-align: center;
    }
    .f-image {
        padding: 20px 0 50px;
    }
    .f-image img {
        width: 30%;
    }
    .icons .fab {
        font-size: 30px;
        color: #E02C6D;
        padding: 10px 15px;
    } 
    .icons .fab:hover {
        transform: rotate(360deg);
        transition: 2s;
    }  
    .copyrights p {
        font-size: 14px;
        padding: 40px 0;
    }
/* footer area end */